<img src="images/nyp_ago_logo.png" width='300'/>

Welcome to the Dataframe Self-Check! Please ensure that you attempt the exercise before checking the answers

# Dataframe Self-Check Exercise

Please use the "GP_Check.csv" file to carry out the tasks

## Task 1. Import the necessary packages and libraries

## Task 2. Read in the data file

## Task 3. View the top 5 columns in the dataset

## Task 4. Check the number of rows and columns in the dataset

## Task 5. Remove the irrelevant columns

## Task 6. Update columns for easy access

## Task 7. List the numbers of rows with null values

## Task 8. View the rows with null values

## Task 9. Remove row with index 52

## Task 10. Enter supplier name "ABC Ltd" for row with index 12

## Task 11. Remove remaing rows with null values

## Task 12. Check if there is duplicated rows

## Task 13. Explore the datatypes of each column

## Task 14. Read in an second set of data from "tender_data.csv" as a dataframe df2

## Task 15. Print the columns (name) of df2

## Task 16. Change the column name to match the first data set from GP_Check.csv

## Task 17. Check the data types of columns in df2

## Task 18. Notice the difference in data type for "awarded_amt". Before we process the column in your first dataframe (from GP_Check.csv) so that it is float64, find the offending unique value in awarded_amt.

## Task 19. Proces the "awarded_amt" column in both dataframes so that the columns are of datatype float64, dropping the rows without valid numerical amount

## Task 20. Change the printed precision (3 dp) for numbers with a prefix '$'

## Task 21. Merge the two dataframes, taking the second dataframe(df2) as additional updates

## Task 22. Change date format to example: "Tuesday, June 11, 2019"

|Code | Meaning |
|---|---|
|%Y|Year (four digits)|
|%m|Month (01-12)|
|%d|Day of month (01-31)|
|%A|Weekday (full name)|
|%B|Month (full name)|
|%H|Hour (24-hour clock, 00-23)|
|%M|Minute (00-59)|
|%S|Second (00-59)|
|%p|AM/PM designation|

## Task 23. List the unique values in each column

## Task 24. Determine range of awarded amount

## Task 25. Create a column that flags out "awarded_amt" more than or equal to 1 billion for further review (using ```apply```)

## Task 26. List the records requiring further review due to high value amount

## Task 27. Determine range of date

## Task 28. What is the largest amount awarded to "BSG LANDSCAPE & CONSTRUCTION"

## Task 29. Find the tenders between 2022 to 2023

## Task 30. Disaply the award_date and awarded_amt for "CRIMSONLOGIC" between 2022 and 2023

## Task 31. Filtering rows based on a given list of values (ACCENTURE SG SERVICES PTE. LTD. and CENTRAL CHAMBERS LAW CORPORATION)

## Task 32. Filtering rows based on string values of tender_no (starting with GVT for Govtech)

## Task 33. Filtering rows that contain the word "supply" and "installation" in the tender description?

## Task 34: How can we query for tenders put out by  "Urban Redevelopment Authority" in 2022?

## Task 35 Find and remove rows with "unknown" values.

## Task 36. What is the number of tender awarded to each supplier?

## Task 37. Which are the tenders awarded to "ACCENTURE SG SERVICES PTE. LTD."?

## Task 38. What is the total sum of tenders awarded to "ACCENTURE SG SERVICES PTE. LTD."?