# Programming in Python II

## **for** loop and **while** loop

In order to repeat some instructions for a fixed number or an indefinite number times, we need loop.

We use for-loop when we know the number of times that we want to repeat. (Though, we could also do that via while-loop, it is just more readable using for-loop.)

For-loop consists of an iteration declaration, and the loop body (the statements we want to repeat). 

```python
sum = 0
for i in range(0,10): # iteration declaration
    sum = sum + i     # body
```

Note ```range(x,y)``` is a built-in function which returns an ascending sequence of numbers starting from ```x``` ending with ```y-1```.


A while-loop consists of a loop condition, and the loop body (the statements we want to repeat).

```python
sum = 0
i = 0
while i < 10:     # loop condition
    sum = sum + i # body
    i = i + 1
```

While-loop is a more general and explicit form, which handles cases that we do not know explicitly the number of loops in advance. For instance, we want to keep prompting the user to key in the username and password, until the correct ones are entered.

```python

uname = input("user name:")
pw    = input("password:")
while not(is_matched(uname,pw)):
    uname = input("user name:")
    pw    = input("password:")
```

Note that the above code can't run unless we provide the defintion of `is_matched`, which we omitted here.

### Exercise
Write a Python program using for-loop to sum out all even numbers between 0 and 100. You can achieve the same result using while-loop. Please demonstrate and compare the two implementation.

Hint: to test whether a number ```n``` is even, you may use ```n % 2 == 0```.

In [ ]:
# todo: Exercise

sum1=0
sum2=0
for i in range(100):
    if i%2 == 0:
        sum1 = sum1 + i
k = 0;
while k < 100:
    if k%2 == 0:
        sum2 = sum2 + k
    k += 1
    
print (sum1)
print (sum2)

## break

```break``` is a special keyword in Python that is used to terminate/break out of a loop.

In [1]:
# Find the first number greater than 100 and divisible by 19.

x = 100

while x <= 1000:
    x += 1
    if x % 19 == 0:
        print('', x, ' is the first number greater than 100 that is divisible by 19.')
        break

 114  is the first number greater than 100 that is divisible by 19.

### Exercise
Find the Least Common Multiple (LCM) of 36 and 64. 

Clue: The LCM of the 2 divisors 36 and 64 will result in a division with remainder zero.

In [3]:
divisor1 = 36
divisor2 = 64

counting = True
i = 1
while counting:
    if i % divisor1 == 0 and i % divisor2 == 0:
        break
    i += 1
    
print(f"The LCM of 36 and 64 is {i}")

The LCM of 36 and 64 is 576

## continue

```continue``` is another keyword for loops. When the continue keyword is reached, it stops the code and goes back to the start of the loop. It is similar to ```break``` but ```break``` terminates the loop while ```continue``` continues to the beginning of the loop. 

The following example uses ```continue``` to print all numbers that are not multiples of 2 and 3 between 0 to 50 (inclusive)

In [1]:
for x in range(0,51):
    if x%2 == 0:
        continue
    if x%3 == 0:
        continue
    print(x)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49

## Data Structures in Python

Data structures refer to objects that can hold data. They are usually storing a collection of related data and will define the relationship between the data and the operations that can be performed on the data.

The four types of data structures in Python are 

* list
* tuple
* dictionary
* set

### Revisiting List

Recall that list is a data structure which denotes a collection of values. A list may have zero, one or more values.
For instance, 
```python
ns = [1,2,3,4]
```

The size of the list can be computed using the builtin ```len()``` function. 

```python
len(ns)
```

To access an element in the list, we can use the index operation, ```list_name[ index ]```, e.g.

```python
ns[0] # access the first element in the list.
```

To append an element to a list, we can call the ```.append()``` method. e.g.

```python
ns.append(5) # append 5 to the list as the 5th element.
``` 

To insert an element into the list at index=2, we can call the ```insert(index, element)``` method

```python
ns.insert(2, 'a')
```

To concatenate a list to another, we use the ```+``` operator, e.g.

```python
ns + ns # which yields [1,2,3,4,5,1,2,3,4,5]
```

To reverse a list, 

```python
ns[::-1]
```

To extract a sub list from a list

```python
ns[2:4] # extract the 3rd and the 4th elements, e.g. ns[2], and ns[3].
```

To iterate through all the elements in a list, we can use a for-loop.

```python
for n in ns:
    print(n)
```

To duplicate repetitions in a list, the ```*``` operator can be used.

In [9]:
x = ['ab', 'cd']
print (x*3)

['ab', 'cd', 'ab', 'cd', 'ab', 'cd']

### List Comprehension

List comprehension is a way to create a new list based on an existing list. Without list comprehension, a loop may be required to extract values from a list based on a specific condition. 

>newlist = [ *expression* **for** *item* **in** *iterable* **if** *condition == True* ]

In [2]:
students = ["John Lee", "Tim Tan", "Don Lee", "Lee Kian", "Rob Goh", "Casey Koh"] 

lc_list = [x for x in students if "Lee" in x]

print("List comprehension:", lc_list)

newList = []

for student in students:
    if "Lee" in student:
        newList.append(student)

print("Using loop:", newList)

List comprehension: ['John Lee', 'Don Lee', 'Lee Kian']
Using loop: ['John Lee', 'Don Lee', 'Lee Kian']

List comprehension can also be use to modify the values before appending to the new list.

In [4]:
lower_list = [x.lower() for x in students if "Lee" in x]

print(lower_list)

['john lee', 'don lee', 'lee kian']

### Exercise

Implement a sum_sq (sum of squares) function, which sums up all the squares of the elements in a list.

In [5]:
# todo: Exercise
ns = [1,2,3,4]

#for n in ns:
#    print(n)   
#for n in range(len(ns)):
#    print(ns[n])

def sum_sq(x):
    total = 0
    for n in x:
        total = total + n*n
    return total

print(sum_sq(ns))
    
#"""
#import numpy as np
## creating an array using   
## arrange method
#arr1 = np.array([1,2,3,4])

## iterating an array 
#for a in np.nditer(arr1): 
#    print(a) 
#"""

30

If we copy a list with the equal sign only like this my_list_copy = my_list, you’ll have the reference copied in the my_list_copy variable instead of the list values. So, if you want to copy the actual values, you can use the ```list(my_list)``` function or ```slicing [:]```.

In [12]:
x = [ 1, 2 , 3 , 4 , 5]

y = x
y [0] = 9

print("x:",x)
print("y:",y)

x: [9, 2, 3, 4, 5]
y: [9, 2, 3, 4, 5]

In [11]:
x = [ 1, 2 , 3 , 4 , 5]

y = list(x)
y [0] = 9

print("x:",x)
print("y:",y)

x: [1, 2, 3, 4, 5]
y: [9, 2, 3, 4, 5]

In [13]:
x = [ 1, 2 , 3 , 4 , 5]

y = x[:]
y [0] = 9

print("x:",x)
print("y:",y)

x: [1, 2, 3, 4, 5]
y: [9, 2, 3, 4, 5]

### Iterating over all list elements

A ```for``` loop can used to iterate over the elements in a list

In [14]:
basket = ["apple", "banana", "carrot"]

for item in basket:
    print(item)

apple
banana
carrot

A list can hold mixed type of data too.

In [15]:
mixed = [1 , "banana", False]

for item in mixed:
    print(item)

1
banana
False

### Matrices as Nested List

Matrices, or two-dimensional arrays, holds much of the data we store in the real world. Such table structures can be achieved using nested lists.

| Test A | Test B | Test C |
|---|---|---|
| 4 | 5 | 9 |
| 8 | 7 | 10 |

Mathematically, the information can be represented by a 2 x 3 (2 rows by 3 columns) matrix.

$$\begin{bmatrix} 4 & 5 & 9 \\ 8 & 7 & 10 \end{bmatrix}$$

This matrix can be stored as a nested list.

In [17]:
m = [[4,5,9], [8,7,10]]

#access the elements using [row][column] notation
#note the use of zero-based index offset
print(m[1][1])

7

### Accessing each element in the matrix

In [18]:
m = [[4,5,9], [8,7,10]]

for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j])

4
5
9
8
7
10

In [19]:
m = [[4,5,9], [8,7,10]]

for row in m:
    for col in row:
        print (col)

4
5
9
8
7
10

### Exercise

Store the following table using a nested list.

| Student | Class | Score |
|---|---|---|
| John Smith| 2E | 90 |
| Juliet Soh | 2B | 58 |
| Tommy Tee | 2C | 65 |

* Print the details of the first record
* Print the details of all records

In [26]:
#todo: Exercise

students = [["John Smith", "2E", 90], ["Juliet Soh", "2B", 58], ["Tommy Tee", "2C", 65]]

#print first record

student = students[0]
print("** First Record **")
print("Name:", student[0])
print("Class:", student[1])
print("Score:", student[2])
print("******************\n")

for student in students:
    print("Name:", student[0])
    print("Class:", student[1])
    print("Score:", student[2])
    print()

** First Record **
Name: John Smith
Class: 2E
Score: 90
******************

Name: John Smith
Class: 2E
Score: 90

Name: Juliet Soh
Class: 2B
Score: 58

Name: Tommy Tee
Class: 2C
Score: 65

## Dictionary

A Dictionary in Python is a look up table, consists of key-value pairs. List elements are accessed using position index while dictionary elements are accessed via keys.

```{}``` defines an empty dictionary. 

```python
d = {}
```

```d[key] = value``` assigns a value to a slot in dictionary ```d``` indexed by ```key```.

```python
d["k1"] = 1
```
If the key already exists, the existing value will be overwritten.

```key in d``` is a boolean expression which tests whether the key ```key``` is in dictionary ```d```.

```python
if "k1" in d:
    print ("k1 is in the dictionary")
```

```d[key]``` returns the value store in ```d``` indexed by ```key``` if exists, otherwise, a Key Error will be thrown.

```python
d["k1"]
```

Note that the values can be of any type. Only scalar values can be used as keys.

If we want to visit all the values in the dictionary, we can turn it into a key-value pair list and use for-loop to iterate over it.

```python
for key, val in d.items():
    print(key, val)

```

### Exercise 
Implement a ```wc``` function which takes a string of text and counts and prints out the numbers of occurances of each word appearing in the text. A test case as follows, 

``` python
wc('twinkle twinkle little star how i wonder what you are')
```
yields

```
little : 1
star : 1
twinkle : 2
i : 1
what : 1
how : 1
are : 1
you : 1
wonder : 1
```

In [46]:
# todo: Exercise

def wc(s):
    d = {}
    array1 = s.split(' ')
    for word in array1:
        if word in d:
            d[word] = d[word] + 1
        else:
            d[word] = 1

    for key, val in d.items():
        print(key,':', val)         
            
wc('twinkle twinkle little star how i wonder what you are')

twinkle : 2
little : 1
star : 1
how : 1
i : 1
wonder : 1
what : 1
you : 1
are : 1

## Tuple

Similar to list, tuple defines a collection of data values. Unlike list, the size of a tuple is fixed and not extendable. 

```python
t = (1,2)

print(t[0])
```


We can also "pattern match" a tuple value by putting the tuple pattern on the left hand side of the assignment statement. For instance

```python
(x,y) = t
print(x)
```

### Exercise

Define some tuple on your own and try to access its content.

In [48]:
# todo: exercise

t = (1,2)

print(t[0])

(x,y) = t
print(x)

1
1

## Sets

Sets are unordered collections of **unique** and immutable objects that support operations mimicking mathematical set theory.

Sets do not allow multiple occurences of the same element and is often used to prevent duplicates.

In [28]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,3,4,4,5,5,6])
print(s2)
s3 = set([3,4,5,6,6,6,7,1,1,3])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6, 7}

Note the ```{ }``` wrapping the elements in sets. The duplicate items are removed and the original order of numbers are not preserved.

In [29]:
s4 = {'a', 'b', 'c'}
print(s4)

{'b', 'c', 'a'}

Sets are mutable and new items can be added.

In [30]:
s4.add('e')
print(s4)

{'e', 'b', 'c', 'a'}

### Set operations

Union is achieved by using the ```|``` operator or the ```union()``` method

In [33]:
s5 = {1,3,4,5}
s6 = {3,4,4,5,6,7}

print (s5 | s6)
print (s5.union(s6))

{1, 3, 4, 5, 6, 7}
{1, 3, 4, 5, 6, 7}

Intersection is achieved by using the ```&``` operator or the ```intersection()``` method

In [34]:
s5 = {1,3,4,5}
s6 = {3,4,4,5,6,7}

print (s5 & s6)
print (s5.intersection(s6))

{3, 4, 5}
{3, 4, 5}

Difference is achieved by using the ```-``` operator or the ```difference()``` method

In [35]:
s5 = {1,3,4,5}
s6 = {3,4,4,5,6,7}

print (s5 - s6)
print (s5.difference(s6))

{1}
{1}

Use ```<=``` or the ```issubset()``` method to check if one set is a subset of another. 

Use ```<``` to check if a set is a proper/formal subset of another.

In [40]:
s5 = {1,3,4,5}
s6 = {3,4,4,5,6,7}

print (s5 <= s6)
print (s5.issubset(s6))
print()

s7 = {1,3,4,4,5,5,6,6,7}

print (s5 <= s7)
print (s5.issubset(s7))
print()

print (s5 < s7)
print (s5 < s5)

False
False

True
True

True
False

Use ```>=``` or the ```issuperset()``` method to check if one set is a superset of another. Similar, use ```>``` to check if a set is a proper/formal superset of another

In [41]:
print (s7 >= s5)
print (s7.issuperset(s5))
print()

print (s7 > s5)
print (s7 > s7)

True
True

True
False

## Recursive functions

A recursive function a function that calls itself in its body.

e.g. 
```python
def factorial(n):
    if n <= 0:
        return 1
    else:
        return factorial(n-1)*n
```

Recursion functions are closer to their mathematical formulation. 

### Exercise
Can you define another version of ```factorial``` function that use a for-loop instead of recursion?

In [39]:
# todo: Exercise
def factorial1(n):
    if n <= 0:
        return 1
    else:
        return factorial1(n-1)*n
    
def factorial2(n):
    result = 1;
    for num in range(1,n+1):
        result = result * num
    return result

print(factorial1(4))
print(factorial2(4))

24
24

## Higher order functions

A function is a higher order function if 
* it takes another function as its formal argument, or
* it return another function as its result.

```python
def times2(x):
    return x * 2

def apply_twice(f,x):
    return f(f(x))

apply_twice(times2, 10)
```

### Exercise
Define the above functions and observe the output

In [40]:
# todo: Exercise
def times2(x):
    return x * 2

def apply_twice(f,x):
    return f(f(x))

apply_twice(times2, 10)

40

## Functional programming with map and reduce

Python supports a limited form of functional programming. Functional programming allows functions to be passed in and returned as value. Functions can be named or anonymous. This allows code to be concise and easier for verification and proving for correctness.
For instance, we can redefine the ```times2``` function using lambda expression

```python
times2_fun = lambda x: x*2
```

```map(f,l)``` takes a function ```f``` and a list ```l```, and apply ```f``` to every element in ```l```.

```python
list(map(times2_fun, ns))
```
yields a list of 

```python
[2,4,6,8]
```

Note: prior Python 3, ```map()``` returns a list. Since Python 3, ```map()``` returns an iterator of sequence to support laziness. To convert the object back to a list, a call of ```list()``` on the result is required.


Alternatively, we can use the lambda function directly

```python
list(map(lambda x: x*2, ns))
```

```reduce(g,l)``` takes a binary function ```g``` and a list ```l```, and aggregates all elements in ```l``` with ```g```.

For example,

```python
from functools import reduce 
reduce(lambda x,y: x+y, ns)
```

yields 

```python
10
```

### Exercise
implement ```sum_sq``` using ```map```, ```reduce``` and lambda expressions.

In [45]:
# todo: Exercise
ns = [1,2,3,4]

#square_fun = lambda x: x*x
#arr2 = list(map(square_fun,ns))

#from functools import reduce 
#reduce(lambda x,y: x+y, arr2)

from functools import reduce 
reduce(lambda x,y: x+y, list(map(lambda x: x*x,ns)))

30

Functional programming (often abbreviated FP) is the process of building software by composing pure functions, avoiding shared state, mutable data, and side-effects. Functional programming is declarative rather than imperative, and application state flows through pure functions. Contrast with object oriented programming, where application state is usually shared and colocated with methods in objects.

#### Mutable and Immutable objects

Care should be taken when assigning mutable objects such as dictionaries, lists, sets and byte arrays. 

When immutable ojects (that is, cannot be changed after it is created) such as ```str``` and ```int``` are assigned, notice that assigning a new value to one of the variable does not update the other variable.

In [42]:
n = m = 50

print("n: ", n)    #50
print("m: ", m)    #50

n:  50
m:  50

In [43]:
n = 10

print("n: ", n)    #10
print("m: ", m)    #50

n:  10
m:  50

However, mutable objects can be changed after creation and variables assigned to the same mutable object may be updated.

In [2]:
list_one = list_two = [0, 1, 2]

print("list_one before: ", list_one)
print("list_two before: ", list_two)
print()

list_one[0] = 9

print("list_one after: ", list_one)
print("list_two after: ", list_two)

list_one before:  [0, 1, 2]
list_two before:  [0, 1, 2]

list_one after:  [9, 1, 2]
list_two after:  [9, 1, 2]

To avoid unintended updates, assign variables with mutable objects separately, or use ```copy()``` or ```deepcopy()```.

A shallow copy means constructing a new collection object and then populating it with **references to the child objects** found in the original. In essence, a shallow copy is only one level deep. The copying process does not recurse and therefore won’t create copies of the child objects themselves.

A deep copy makes the copying process recursive. It means first constructing a new collection object and then recursively populating it with copies of the child objects found in the original. Copying an object this way walks the whole object tree to create a fully independent clone of the original object and all of its children.

https://realpython.com/copying-python-objects/

In [6]:
import copy
list_one = [0, 1, 2]
var_a = [3]

list_one.append(var_a)
list_two = copy.copy(list_one)

list_one[0] = 9
list_one[3][0] = 4

print("list_one:", list_one)
print("list_two:", list_two)

list_one: [9, 1, 2, [4]]
list_two: [0, 1, 2, [4]]

In [7]:
import copy
list_one = [0, 1, 2]
var_a = [3]

list_one.append(var_a)
list_two = copy.deepcopy(list_one)

list_one[0] = 9
list_one[3][0] = 4

print("list_one:", list_one)
print("list_two:", list_two)

list_one: [9, 1, 2, [4]]
list_two: [0, 1, 2, [3]]